body{
    margin: 0;
    padding: 100;
    margin-top: 83px;
    font-size: 16px;
    line-height: 1.4em;
    color: #222;
    background: #f0f0f0;
    font-family: sans-serif;
}

header{
    max-width: 100%;
    background: #2d2d2d;
    padding: 50px;
}